<div id="clearance" class="password-reset">
  <div class="card">
    <h2 class="card-header h5">
      <%= t(".title") %>
    </h2>
    <div class="card-body">
      <p class="card-text"><%= t(".description") %></p>
    </div>
  </div>
</div>
